@import url('https://fonts.googleapis.com/css?family=Chathura:400,700|Signika+Negative:400,600,700');



body {
  font-size: 16px;
  font-family: 'Signika Negative', sans-serif;
  color: #fff;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  background-color: #f6f6f6;
  overflow-x: hidden;
  /*padding: 0*/
}

.container, .container-fluid {
  padding: 0 30px;
}
/* *************************
      NAVIGATION AREA
************************* */



.myNav .navbar-nav li {
  /*padding: 20px 0;*/
  transition: all .5s;
  margin-top: 5px;
  margin-bottom: 5px;
}


.myNav .navbar-nav li a {
  font-size: .9em;
  color: #fff;
  padding: 5px;
}

.myNav .navbar-nav li:hover {
  background-color: #b33;
}

.top-layer > li {
  border: 1px solid #fff;
  border-collapse: collapse;
}

.top-layer > li:first-child {
  border: none;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar .navbar-nav li {
  margin-right: 5px;
}

.navbar .navbar-nav li a {
  text-transform: uppercase;
}

.navbar .navbar-nav li a i.fa {
  font-size: 1em;
  margin-right: 5px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}





.navbar .navbar-brand img {
  width: 100px;
  height: auto;
  margin-top: 0;
}

/* *************************
    End of NAVIGATION AREA
************************* */

.intro {
  margin-top: -60px;
}

/* *************************
    Begin Sliders
************************* */

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: 400px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}


/* *************************
    End Sliders
************************* */


header {
  /*padding-top: 5px;*/
  /*margin-bottom: 0;*/
}

#logo img {
  width: 10em;
  height: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

/*.navbar {
  margin-bottom: 0;
}*/


.contact {
  /*background-color: red;*/
  width: 100%;
  height: 89px;
  /*line-height: 89px;*/
  text-align: center;
  background-color: #B78500;
}

#email-us, #call-us, #chat-us {
  padding: 21px 0;
}

#ourEmail, #ourChat {
  display: none;
  color: #fff;
  line-height: 48px;
}

#ourPhone {
  display: none;
  color: #fff;
  line-height: 28px;
  padding-top: 10px;
  /*-webkit-animation-duration: 2s;
     -moz-animation-duration: 2s;
       -o-animation-duration: 2s;
          animation-duration: 2s;*/
}

#ourPhone:hover {
  cursor: pointer;
}

#email-us {
  background-color: #DD1E27;
}

#call-us {
  /*background-color: #FFE900;*/
  background-color: #B78500;
}

#chat-us {
  background-color: #3A3637;
}

#email-us a i.fa, #chat-us a i.fa, #call-us a i.fa {
  color: #fff;
}

#email-us a i.fa:hover, #chat-us a i.fa:hover, #call-us a i.fa:hover {
  /*color: #8C5100;*/
  color: #FFE900;
}

a {
  color: #8C5100;
}

a:hover {
  color: red;
}

a i.fa {
  font-size: 3em;
}


/* *************************
    PHONE VIBRATION
************************* */

#call-us {
  -webkit-animation: vibrate 2s cubic-bezier(.36, .07, .19, .97) infinite;
  animation: vibrate 2s cubic-bezier(.36, .07, .19, .97) infinite;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 300px;
  perspective: 300px;
}


@keyframes vibrate {
  0%, 2%, 4%, 6%, 8%, 10%, 12%, 14%, 16%, 18% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  1%, 3%, 5%, 7%, 9%, 11%, 13%, 15%, 17%, 19% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
  20%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}


/* *************************
    Section Area
************************* */


section {
  padding: 50px 0;
  /*background-color: #443e00;*/
  background-color: #f6f6f6;
  width: 100%;
  max-width: 100%;
}

.section-title {
  text-align: center;
}

.intro {
  color: #444;
  background: url('../images/acct-demo/small-bg.png') repeat;
}

.intro h1 {
  color: #b33;
  font-size: 2.6em;
  /*text-shadow: 3px -1px 1px #000;*/
  font-weight: 600;
}

.intro p {
  font-size: 1.1em;
}

.intro p small {
  font-style: italic;
}

.intro img {
  height: 80px;
}


/* *************************
    Section Area End
************************* */

blockquote {
  border-left: 5px solid #b33;
  font-style: italic;
  /*font-size: 1.2em;*/
}


/* *************************
    Buttons
************************* */

.why-us .btn-link:hover {
  color: #fff;
}

.btn-custom-success {
  border: 0;
  background-color: #444;
  color: #fff;
  margin-bottom: 10px;
}

.btn-custom-demo {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #b33;
  padding: 10px 0;
  transition: .8s all;
  box-shadow: 4px 2px 2px 0 #ccc;
}

.btn-custom-live {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #444;
  padding: 10px 0;
  min-width: 200px;
  transition: .8s all;
  box-shadow: 4px 2px 2px 0 #ccc;
}

.btn-custom-default {
  color: #fff;
  border: 2px solid #fff;
  background-color: #888;
  padding: 10px 0;
  min-width: 140px;
  transition: .8s all;
  box-shadow: 4px 2px 2px 0 #ccc;
}

.btn-custom-danger {
  color: #fff;
  border: 2px solid #fff;
  background-color: #b33;
  padding: 10px 0;
  min-width: 140px;
  transition: .8s all;
  box-shadow: 4px 3px 2px 0 #444;
}

.btn-link {
  color: #665d00;
}

.btn-link2 {
  color: #8C5100;
}

.btn-link:hover {
  text-decoration: none;
  color: #000;
}

.btn-custom-default:hover, .btn-custom-demo:hover {
  background-color: #000;
  color: #fff;
}


.btn-custom-live:hover {
  background-color: #2B6A33;
  color: #fff;
}

.btn-custom-danger:hover {
  background-color: transparent;
  color: #000;
}

.btn-custom-success:visited {
  color: #fff;
}

.btn-custom-success:hover {
  background-color: #b33;
  color: #fff;
}

.btn-primary {
  background-color: transparent;
  color: #000;
  border: 1px solid #444;
}

.btn-primary:hover {
  background-color:
}


h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: #444;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.1em;
  color: #444;
}

p {
  font-size: 1em;
  color: #444;
}

.features {
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)), #ccc url('../images/bg.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-width: 100%;
}

.extras h4 {
  padding: 10px 0;
  text-align: center;
  color: #fff;
}

.extras ul {
  list-style-type: none;
}

.extras ul li {
  padding-bottom: 10px;
  font-size:
}

.extras ul li i.fa {
  margin-right: 10px;
  color: #FFE900;
}

.trading {
  color: #000;
}

.mt4 a i.fa {
  text-align: center;
  display: block;
}

.mt4 a {
  color: #b33;
  text-decoration: none;
  transition: all .8s;
}

.mt4 a span {
  display: block;
  color: #b33;
  text-align: center;
}



.mt4 a:hover {
  color: #b33;
}

.why-us {
  background-color: #DD1E27;
  padding: 10px 0;
}

.why-us .downloads img {
  width: 100%;
}

/*.why-us h1 {
  font-size: 2.5em;
}*/

.why-us h1, .why-us p {
  text-align: center;
  color: #fff;
}

.why-us h1 i.fa {
  margin-right: 10px;
}

.why-us p a {
  color: #ffe900;
}

.why-main {
  background-color: transparent;
  color: #000;
}

.why .panel-default{
  border: none;
}

.why-main .panel-heading {
  background-color: #000;
  color: #fff;
}

.why img {
  width: 100%;
  max-width: 100%;
  background: transparent;
  height: auto;
}

.trading {
  background: url('../images/acct-demo/small-bg.png') repeat;
}

.accts-reg {
  box-shadow: 5px 3px 2px 2px #444;
  transition: all .5s;
}

.accts-reg:hover {
  box-shadow: 5px 5px 2px 4px #000;
  padding: 0 -10px 0 10px;
}


.acct-demo img {
  width: 100%;
  max-width: 100%;
  height: 187px;
}

.acct-demo-details1 {
  background-color: #b33;
  text-align: center;
}

.acct-demo-details2 {
  background-color: #000;
  text-align: center;
}

.acct-demo-details3 {
  background-color: #5ac;
  text-align: center;
}

.acct-demo-details4 {
  background-color: #444;
  text-align: center;
}

.acct-demo-details1 h6 span {
  color: #b33;
}

.acct-demo-details2 h6 span {
  color: #000;
}

.acct-demo-details3 h6 span {
  color: #5ac;
}

.acct-demo-details4 h6 span {
  color: #444;
}


a .acct-demo-details1 i.fa {
  color: #fff;
  border-radius: 100%;
  text-align: center;
  background-color: #b33;
  /*margin-top: -5px;*/
  padding: 15px 15px;
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: 1.2em;
}

a .acct-demo-details2 i.fa {
  color: #fff;
  border-radius: 100%;
  text-align: center;
  background-color: #000;
  /*margin-top: -5px;*/
  padding: 15px 15px;
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: 1.2em;
}

a .acct-demo-details3 i.fa {
  color: #fff;
  border-radius: 100%;
  text-align: center;
  background-color: #5ac;
  /*margin-top: -5px;*/
  padding: 15px 15px;
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: 1.2em;
}

a .acct-demo-details4 i.fa {
  color: #fff;
  border-radius: 100%;
  text-align: center;
  background-color: #444;
  /*margin-top: -5px;*/
  padding: 15px 15px;
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: 1.2em;
}

.trading h4 {
  color: #444;
  margin-bottom: 50px;
}

.trading h6 {
  text-align: center;
  background-color: #fff;
  padding: 20px 10px;
  margin-top: 0;
  line-height: 1.3em;
  text-transform: capitalize;
}

.trading h6 span {
  display: block;
  font-weight: 700;
}


.accounts-page {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url('../images/refactor/sliders/03.png')  no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.account-options p {
  color: #fff;
}

a .account-options i.fa {
  margin-bottom: 5px;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.account-options:hover {
  color: #444;
}

.textBtn {
  padding: 10px 0;
  border: 3px solid #fff;
  background-color: transparent;
  transition: all .5s;
}

.textBtn:hover {
  background-color: #000;
  color: #fff;
}

/*linear-gradient(rgba(216, 134, 134, .5), rgba(216, 134, 134, .7)),*/
section.ourVnM {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), #000 url('http://www.bankbic.na/img/vision-mission-values.jpg') no-repeat center center;
  height: 300px;
  width: 100%;
  max-width: 100%;
  background-size: cover;
}


section.ourVnM h2 {
  color: #fff;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  padding-top: 40px;
}


.vision-hero {
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)), #000 url('../images/bg3.jpg') no-repeat center center;
  height: 300px;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
  max-width: 100%;
  background-attachment: fixed;
}

.hero-text {
  margin-top: 70px;
  margin-bottom: 40px;
  color: #444;
}

.vision-title {
  text-align: center;
}

.vision-title i.fa {
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.vision {
  margin-bottom: 40px;
  box-shadow: 2px -5px 3px 0 #b33;
  padding: 10px 0 10px 25px;
  transition: all .5s;
  color: #444;
  min-height: 441px;
  /*text-align: justify;*/
}

.vision:hover {
  box-shadow: 2px -5px 3px 0 #444;
}

.mission-area {
  text-align: justify;
  padding-right: 30px;
}

.mission {
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.3)), url('../images/bg4.jpg') top center no-repeat;
  width: 100%;
  background-size: cover;
  height: auto;
  color: #fff;
}

.mission p {
  font-size: 1.08em;
}

.banner {
  box-shadow: 5px -2px 2px 1px #000;
  margin-bottom: 50px;
}

.banner img {
  width: 100%;
  max-width: 100%;
}

.each-advantage {
  min-height: 260px;
  /*border-radius: 20px;*/
  /*border: 2px solid #444;*/
  /*box-shadow: 5px 3px 2px 8px #b33;   # This is cool   */
}

.sider1 {
  background: url('../images/acct-demo/small-bg.png') repeat;
}

.each-advantage .panel-heading {
  text-align: center;
}

.sider2 {
  padding-left: 10px;
}

.side-bar .panel:nth-child(odd) {
  border-left: 10px solid #444;
}

.side-bar .panel:nth-child(even) {
  border-right: 10px solid #b33;
}

.reasons-into {
  margin-bottom: 0;
}

.reason-divider {
  margin-top: 5px;
}


.reason-a p {
  margin-bottom: 40px;
}

.reason-banner img {
  width: 100%;
}

.reasons-list {
  background: url('../images/acct-demo/small-bg.png') repeat;
}

/*.notice-me {
  text-align: center;
  background-color: #f6f6f6;
  position: fixed;
  top: 400px;
  z-index: 1;
}

.notice-me p {
  margin-top: 10px;
}*/

.reason-tabs {
  text-align: center;
  min-height: 320px;
  box-shadow: 5px 3px 2px 2px #b33;
  margin-bottom: 40px;
  padding: 0 5px;
}

.reason-tabs p {
  text-align: justify;
}

.reason-tabs i.fa {
  font-size: 5em;
  color: #444;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reason-tabs i.fa:hover {
  color: #b33;
}

.fa-spin-hover:hover {
    animation: fa-spin-hover 2s infinite linear;
}
/*// The animation bellow is taken from font-awesome.css*/
@-webkit-keyframes fa-spin-hover{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes fa-spin-hover{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transfo rm:rotate(359deg);transform:rotate(359deg)}}




/*Divider*/


.vertical-divider {
  position: absolute;
  z-index: 10;
  /*background-color: #fff;
  border-color: #b33;*/
  /*border-radius: 100%;*/
  /*border: 1px solid #b33;*/
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 50%;
  line-height: 0;
  text-align:center;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.vertical-divider:before,
.vertical-divider:after {
  position: absolute;
  left: 50%;
  content: '';
  z-index: 9;
  border-left: 5px solid #b33;
  border-right: 5px solid #b33;
  width: 0;
  height: calc(100% - 1rem);
}

.row-divided > .vertical-divider {
  height: calc(50% - 1rem);
}

.vertical-divider:before {
  top: -100%;
}

.vertical-divider:after {
  top: auto;
  bottom: 0;
}

.row-divided {
  position:relative;
}

.row-divided > [class^="col-"],
.row-divided > [class*=" col-"] {
  padding-left: 30px;  /* gutter width (give a little extra room) 2x default */
  padding-right: 30px; /* gutter width (give a little extra room) 2x default */
}




/* just to set different column heights - not needed to function */
.column-one {
  min-height: 300px;
  background-color: #EBFFF9;
}
.column-two {
  height: 400px;
  background-color: #F7F3FF;
}


.comparison {
  width: 100%;
  text-align: justify;
}

.ezyfx {
  width: 45%;
  /*background-color: yellow;*/
  float: left;
  border-right: 1px solid #ccc;
  margin-right: 10px;
  /*overflow: scroll;*/
}

.ezyfx p {
  /*background-color: #00c98d;*/
  margin: 5px auto;
  width: 80%;
  color: #00c98d;
}


.ezyfx p span {
  background-color: #00c98d;
  margin: 5px auto;
  width: 80%;
  color: #fff;
  padding: 0 10px;
}

.other {
  width: 45%;
  padding-top: 1px;
  float: right;
}


.other p {
  /*background-color: #b33;*/
  margin: 5px auto;
  width: 80%;
  color: #b33;
}

.other p span.last-figure{
  background-color: #b33;
  margin: 5px auto;
  width: 80%;
  color: #fff;
  padding: 0 10px;
}

.other p span.breaker {
  display: block;
  background-color: none;
}

.no-show {
  visibility: hidden;
}

.safety-starter {
  background: url('../images/acct-demo/small-bg.png') repeat;
}

.safety-blocks {
  box-shadow: 5px 3px 2px 2px #444;
  margin-bottom: 10px;
}

.safety-blocks img {
  width: 100%;
}

.reg-start {
  background: url('../images/acct-demo/small-bg.png') repeat;
}

.license img {
  background: rgba(0, 0, 0, .2);
  opacity: .05;
  height: 50vh;
}

.license img, #myModal img {
  width: 100%;
  max-width: 100%;
}

.license {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.license .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.license img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.license h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.license a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.license a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.license:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.license:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.license:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.permit ul li {
  text-transform: capitalize;
}

.permit ul li i.fa {
  color: #b33;
  margin-right: 5px;
}

.vscf-faq .panel-body{
  color: #444;
}

.bs-component {
  color: #444;
}

.table img {
  width: 100%;
  height: auto;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
}

.table {
  display: block !important;
  /*text-align: left;*/
}

.myTableTabs li.active a {
  background-color: #b33;
  color: #fff;
}

.take-note {
  color: #444;
}

.take-note li {
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.each-methods {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  margin-bottom: 20px;
}

.each-methods img {
  width: 50%;
  margin: 10px auto;
  display: block;
  height: auto;
  /*margin-top: 10px;*/
}

.payments {
  padding: 0 10px;
  margin: 30px 0;
  /*text-align: center;*/
}

.deposit-types {
  background: #f6f6f6;
}

.deposit-banner {
  background: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 0, 0, 0.5)), url('http://placehold.it/400x400') center center no-repeat;
  min-height: 300px;
  margin-top: 10px;
}

.tb-color1 {
  background-color: #444;
  color: #fff;
}

.tb-color2 {
  background-color: #b78500;
  color: #fff;
}

.tb-color3 {
  background-color: #b33;
  color: #fff;
}

.tac li {
  color: #b33;
}

.tac li span {
  color: #444;
}

.islamic-area {
  background: #f6f6f6;
}

.islamic-content {
  text-align: center;
  margin-bottom: 20px;
}

.islamic-sections {
  margin-bottom: 30px;
}

.islamic-content2 > p:first-child {
  color: #633;
}

.islamic-content i.fa {
  color: #000;
  font-size: 3em;
  border: 1px solid #444;
  border-radius: 50%;
  padding: 30px;
  margin-bottom: 10px;
}

.softwares {
  border: 1px solid #ccc;
  margin: 20px 0;
  border-left: 10px solid #ccc;
  border-right: 10px solid #b33;
  padding: 20px;
}

.softwares img {
  width: 100%;
  max-width: 100%;
}

.softwares .softImgDl {
  width: 30%;
  height: auto;
  vertical-align: left;
}

.soft-dls {
  background: #fff;
}

.mt4-dl {
  background: url('../images/payments/mt4-pc.png') 100% 100% no-repeat;
  background-size: cover;
  min-height: 300px;
}

.mt4-dl h6 {
  margin-top: 50px;
  margin-bottom: 2px;
}

/*.mt4-dl:hover {
  opacity: .2;
  color: rgba(10, 10, 10, .5);
}*/

.mt4-features li, .wt-features li {
  color: #444;
  margin-bottom: 10px;
  list-style-image: url('../images/checked.png');
}

.mt4-feat2 {
  background: linear-gradient(rgba(10, 80, 102, .4), rgba(10, 0, 0, .7)), url('../images/payments/mt4-pc.png') no-repeat 100% 100%;
  /*min-height: 500px;*/
  background-position: center;
  background-attachment: fixed;
}

.web-trader img {
  width: 100%;
}

.web-trader {
  text-align: center;
}

.webtrader-info {
  margin-top: 50px;
}

.wt-features {
  background: linear-gradient(to right, rgba(135, 0, 0, .6), rgba(25, 10, 5, .8)), url('../images/webtrader04.jpg') center center no-repeat;
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.wt-features h4, .wt-features h6 {
  color: #fff;
}

.wt-features li {
  color: #fff;
}

.webtrader-note {
  text-align: justify;
  margin-top: 40px;
}

.webtrader-note h4 small, .webtrader-note  p {
  color: #fff;
}

.promos {
  background: #f6f6f6;
  box-sizing: border-box;
}

  /*NEEDS MEDIA QUERY FIXING */

  .each-promo img {
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
  }

  .each-promo {
    border-top: 2px solid #b33;
    padding: 10px;
    margin-bottom: 50px;
  }

  .each-promo:hover {
    box-shadow: 3px 4px 2px 2px #444;
  }

  /*.promo-details {
    height: auto;
  }*/

  .btnDivs {
    color: #000;
  }

  .btnDivs:hover {
    color: #444;
  }

  .d-bonus {
      background: -webkit-linear-gradient(to bottom, rgba(255, 251, 213, .5), rgba(178, 10, 44, .7)), url('http://placehold.it/1600x350') no-repeat center center;
      background: -o-linear-gradient(to bottom, rgba(255, 251, 213, .5), rgba(178, 10, 44, .7)), url('http://placehold.it/1600x350') no-repeat center center;
      background: linear-gradient(to bottom, rgba(255, 251, 213, .5), rgba(178, 10, 44, .7)), url('http://placehold.it/1600x350') no-repeat center center;
    }

.d-bonus h2, .d-bonus h4 {
  color: #fff;
}

.d-bonus h2 {
  font-size: 3.5em;
}

.bonus-intro p {
  color: #fff;
}

.bonus-icons {
  color: #444;
}

.bonus-icons i.fa {
  margin-bottom: 10px;
}

.bonus-icons .fa-gift {
  color: #FF975C;
  font-size: 3em;
}

.bonus-icons .fa-star-half {
  color: #FFCC24;
  font-size: 3em;
}

.bonus-icons .fa-google-wallet {
  color: #afa401;
  font-size: 3em;
}

.bonus-icons .fa-lock {
  color: #7BBD5A;
  font-size: 3em;
}

.bonus-icons .fa-venus-double {
  color: #7EC8DD;
  font-size: 3em;
}

.bonus-icons .fa-tasks {
  color: #DA8FE3;
  font-size: 3em;
}

.bonus-hero table {
  background: #444;
  width: 20%;
}

.bonus-hero table thead {
  text-transform: uppercase;
}

.bonus-hero .note {
  margin-left: 20px;
}

.bonus-hero h6 {
  color: #94BD49;
}

/*.steps {
  margin-right: 20px;
}*/

.steps i.fa {
  font-size: 4em;
  color: #94BD49;
}

.extra-footer a {
  background: rgba(255, 255, 255, .2);
  opacity: .3;
}

.extra-footer a img {
  margin-right: 0;
  padding-left: 0;
  margin-bottom: 10px;
  width: 130px;
}

.extra-footer a img:last-child {
  max-height: 52px;
  max-width: 120px;
  margin-left: 10px;
}

.extra-footer a:hover {
  opacity: 1;
}

ul.ppro {
  padding-left: 0;
}

ul.ppro li {
  font-size: .98em;
}

ul.ppro li i.fa {
  margin-right: 10px;
}


.ppro li {
  list-style: none;
  color: #444;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.ppro li i.fa {
  color: #b33;
}

.client-benefits {
  margin-bottom: 20px;
}

.benefits i.fa {
  font-size: 3em;
  border: 2px solid #b33;
  border-radius: 50%;
  padding: 20px;
  background: #C95B60;
}

.standard-partner img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
}


.demo-acct, .live-acct {
  text-align: center;
  padding: 20px 10px;
}

.demo-acct {
  margin-bottom: 50px;
}

.live-acct p {
  margin-bottom: 55px;
}


.live-chat {
  z-index: 100;
  width: 100px;
  height: 100px;
  padding: 30px 5px 0 5px;
  border: 5px solid #b33;
  border-radius: 50%;
  margin-right: 10px;
  position: fixed;
  color: rgba(0, 0, 0, 0);
  bottom: 90px;
  right: 0;
  text-align: center;
  background: linear-gradient(rgba(153, 67, 70, .3), rgba(10, 10, 10, .5)), url("../images/cs.png") center center no-repeat;
  background-size: cover;
  transition: .5s all;
}

.live-chat:hover {
  color: #fff;
}



#return-to-top {
  z-index: 50;
}

#ezyfxInfo, #ezyfxInfo2, .ezyfxInfo, #learnMore1, #learnMore2, #learnMore3, #learnMore4, #learnMore5, #learnMore6 {
  cursor: pointer;
}

#moreInfo, #moreInfo2, .moreInfo, #openInfo1, #learnMore2, #openInfo2, #learnMore4, #openInfo3, #learnMore6 {
  display: none;
}

.mission p, .mission h2 {
  color: #fff;
}

.mission .btn-link {
  color: #b33;
}









/* *************************
    Subscriber Form
************************* */
/*.homeModal {
  background: #fc4a1a;
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
  background: linear-gradient(to right, #f7b733, #fc4a1a);
}*/

/*.homeModal p {
  color: #fff;
}*/

.subscribeForm, .fundsDeposit {
  width: 100%;
  /*border-right: 3px solid #b33;*/
}

.subscribeImgQuoute img {
  max-height: 206px;
}

.subscribeForm .input-group, .fundsDeposit .input-group {
  width: 100%;
}

/*.fundsDeposit select.currencymy {
  width: 30%;
}*/


/*.fundsDeposit span.chooseCurrency {
  width: 50%;
}*/

/*form {
  width: 100%;
}*/

.form-logo {
  width: 100%;
  margin-bottom: 20px;
}

.form-logo img {
  width: 30%;
  /*height: 100px;*/
  display: block;
  margin: 0 auto;
  border: none;
  background: transparent;
}


.subscribeImgQuoute img {
  width: 100%;
}




/* *************************
    LIVE CHAT VIBRATION
************************* */

#phplive_btn_1508839562 img {
  display: none;
}

.live-chat {
  -webkit-animation: vibrate 2s cubic-bezier(.36, .07, .19, .97) infinite;
  animation: vibrate 2s cubic-bezier(.36, .07, .19, .97) infinite;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 300px;
  perspective: 300px;
}


@keyframes vibrate {
  0%, 2%, 4%, 6%, 8%, 10%, 12%, 14%, 16%, 18% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  1%, 3%, 5%, 7%, 9%, 11%, 13%, 15%, 17%, 19% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
  20%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}




/* Scroll to Top */


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


.contact-us form {
  width: 100%;
}

.contact-us .input-group {
  width: 100%;
}

.contact-us .input-group input {
  text-align: center;
}


.contact-us textarea {
  min-height: 200px;
}

footer .contactInfo {
  margin-top: 30px;
}

#option1, #option2, #option3, #option4, #option5 {
  cursor: pointer;
}

#option1Sign2, #paymentOption1, #option2Sign2, #paymentOption2, #option3Sign2, #paymentOption3, #option4Sign2, #paymentOption4, #option5Sign2, #paymentOption5 {
  display: none;
}

.mobile-icons {
  margin-top: 30px;
}

.mobile-icons img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.partnershipTypes img {
  width: 100%;
  max-width: 100%;
}

.aboutEzy {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), url('../images/refactor/sliders/01.png') center center no-repeat;
  background-size: cover;
  min-height: 300px;
  background-attachment: fixed;
}

.contact-us {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), url('../images/refactor/sliders/02.png')  no-repeat;
  background-size: cover;
  min-height: 300px;
  background-attachment: fixed;
}

.contact-us h4 {
  color: #fff;
}

.demo-acct, .live-acct {
  text-align: justify;
}

.demo-acct h4, .live-acct h4 {
  text-align: center;
}


#checkBox {
  margin-top: -3px;
}
































/* FAQs */

.faq-intro {
  margin-bottom: 50px;
}

.faq-cat-tabs li a {
  background-color: #f6f6f6;
}

.faq-cat-content {
    margin-top: 25px;
}

.faq-cat-tabs li a {
    padding: 15px 10px 15px 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #777777;
}

.faq-cat-content .nav-tabs li a:focus,
.faq-cat-content .panel-heading a:focus {
    outline: none;
}

.faq-cat-content .panel-heading a,
.faq-cat-content .panel-heading a:hover,
.faq-cat-content .panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}

.faq-cat-content .panel-heading:hover {
    background-color: #efefef;
}

.active-faq {
    border-left: 5px solid #888888;
}

.faq-cat-content .panel-faq .panel-heading .panel-title span {
    font-size: 13px;
    font-weight: normal;
}













/* *************************
    Footer
************************* */


footer {
  border-top: 2px solid yellow;
  margin-top: 0;
}


footer p, footer h6 {
  color: #444;
}


.footer-icons {
  /*height: 160px;*/
  text-align: center;
  background-color: #000;
  /*overflow: hidden;*/
  width: 100%;
  max-width: 100%;
}


.footer-links {
  width: 100%;
  padding: 20px 0;
  background-color: #000;
}

.footer-links a {
  color: #fff;
}

.footer-links:nth-child(1) {
  margin: 0 -27px;
}

.footer-links ul {
  list-style-type: none;
}

.footer-links ul li {
  width: 100%;
}

.footer-nav {
  border-top: 2px solid #b33;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url('../images/bg2.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-width: 100%;
  padding: 20px 0 0 0;
}



.footer-nav h6 {
  margin-bottom: 15px;
  text-align: center;
  color: #fff;
}

.small-line {
  width: 30%;
  height: 5px;
  margin: 10px auto 30px;
  background-color: #b33;
}

.footer-nav ul {
  list-style-type: none;
}

/*.footer-nav ul li {
  text-align: center;
}*/


.footer-nav ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  transition: all .5s;
}


.footer-nav ul li a:hover {
  /*border-left: 5px solid #b33;*/
  font-size: 1.2em;
  padding-left: 10px;
}

footer .trademark {
  background-color: #000;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}

.long-links ul li {
  font-size: .67em;
}

/* *************************
    GOOGLE TRANSLATE
************************* */

.ct-topbar {
  text-align: center;
  background: #eee;
}
.ct-topbar__list {
  margin-bottom: 0px;
}
.ct-language__dropdown{
	padding-top: 8px;
	max-height: 0;
	overflow: hidden;
	position: absolute;
	top: 110%;
	left: -3px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	width: 100px;
	text-align: center;
	padding-top: 0;
  z-index:200;
}
.ct-language__dropdown li{
	background: #222;
	padding: 5px;
}
.ct-language__dropdown li a{
	display: block;
  color: #fff;
}
.ct-language__dropdown li:first-child{
	padding-top: 10px;
	border-radius: 3px 3px 0 0;
}
.ct-language__dropdown li:last-child{
	padding-bottom: 10px;
	border-radius: 0 0 3px 3px;
}
.ct-language__dropdown li:hover{
	background: #444;
}
.ct-language__dropdown:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 8px;
	height: 0;
	border: 0 solid transparent;
	border-right-width: 8px;
	border-left-width: 8px;
	border-bottom: 8px solid #222;
}
/*.ct-language {
	position: relative;
  background: #444;
  color: #fff;
  padding: 10px 15px;
  width: 200px;
  margin-left: 15px;
}*/
.ct-language:hover .ct-language__dropdown{
	min-height: 300px;
	padding-top: 8px;
  /*overflow-y: scroll;*/
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
    width: 200px;
}

.goog-logo-link {
  display: none;
}

select.goog-te-combo {
  /*display: block;*/
  /*margin: 0 auto;*/
  /*width: 100%;*/
  color: #b33 !important;
}

/*.goog-te-gadget {
  color: #fff !important;
}*/






/* *************************
    ANIMATION
************************* */


@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.animate-flicker {
   -webkit-animation: flickerAnimation 3s infinite;
   -moz-animation: flickerAnimation 3s infinite;
   -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;
}


.animate-banner {
   -webkit-animation: flickerAnimation 10s infinite;
   -moz-animation: flickerAnimation 10s infinite;
   -o-animation: flickerAnimation 10s infinite;
    animation: flickerAnimation 10s infinite;
}


.platforms {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.appstore, .googleplay {
  background-color: #000;
  color: #fff;
  width: 160px;
  height: 60px;
  border-radius: 15px;
}

.appstore {
  background: url('../images/app-store.png') center center no-repeat;
  background-size: contain;
}

.googleplay {
  background: url('../images/play-store.png') center center no-repeat;
  background-size: contain;
}

/* *************************
    Bootstrap Slider on Mobile Devices
************************* */

.carousel {
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  min-width: 100%;
  background-color: #fff;
}

.carousel-inner > .item > a > img {
  min-width: 100%;
  height: 100%;
}


/* *************************
    Media Queries
************************* */

@media (max-device-width: 1200px) {
  select.goog-te-combo {
    color: #fff !important;
  }
}

@media (max-width: 1199px) {
  html,body {
    overflow-x: hidden;
  }
  .bonus-hero table {
    width: 30%;
  }
}

@media (max-width: 991px) {
  /*.goog-te-gadget {
    color: #fff !important;
    text-align: center;
  }

  #google_translate_element a.goog-logo-link {
    font-size: .5em;
  }*/



  .bonus-hero table {
    width: 40%;
  }
}

@media (max-width: 597px) {
  .bonus-hero table {
    width: 50%;
  }
}

@media (max-width: 483px) {
  .bonus-hero table {
    width: 60%;
  }
}

@media (max-width: 408px) {
  .bonus-hero table {
    width: 80%;
  }
}









@media (max-width: 768px) {

  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }

  .dropdown-menu-large > li > ul > li > a {
    color: #6f6f6f;
  }

  .footer-nav ul li {
    text-align: center;
  }

  .footer-nav ul li:last-child {
    margin-bottom: 20px;
  }

  .top-layer .navbar .navbar-nav li {
    margin-right: 0;
  }

}


@media (max-width: 955px) {

  .top-layer > li {
    border: none;
  }

  .myNav .navbar-nav li a span {
    display: none;
  }

  .myNav .navbar-nav li {
    padding: 10px 0;
  }

  .myNav .navbar-nav li a {
    font-size: 3em;
    margin-right: 50px;
  }

  .myNav .navbar-nav li a:nth-child(1) {
    margin-left: 50px;
  }

  .myNav .navbar-collapse.collapse {
    display: block!important;
  }

  .myNav .navbar-nav>li, .myNav .navbar-nav {
    float: left !important;
  }

  .myNav .navbar-nav.navbar-right:last-child {
    margin-right: -20px !important;
  }

  .myNav .navbar-right {
    float: right !important;
  }

  .ct-language:hover .ct-language__dropdown{
  	max-height: 200px;
  	padding-top: 8px;
    font-size: .2em;
  }

}

@media (max-width: 811px) {
  .myNav .navbar-nav li a {
    font-size: 3em;
    margin-right: 30px;
  }

  .myNav .navbar-nav li a:nth-child(1) {
    margin-left: 60px;
  }
}

@media (max-width: 770px) {
  .myNav .navbar-nav li a:nth-child(1) {
    margin-left: 30px;
  }
}

@media (max-width: 707px) {
  .myNav .navbar-nav li a:nth-child(1) {
    margin-left: 40px;
  }
}

@media (max-width: 628px) {
  .myNav .navbar-nav li a:nth-child(1) {
    margin-left: 30px;
  }
}

@media (max-width: 587px) {
  .myNav .navbar-nav li a {
    font-size: 3em;
    margin-right: 10px;
  }

  .myNav .navbar-nav li a:nth-child(1) {
    margin-left: 20px;
  }
}

@media (max-width: 470px) {
  .myNav .navbar-nav li a {
    font-size: 2.5em;
  }

  .myNav .navbar-nav li a:nth-child(1) {
    margin-left: 12px;
  }
}


@media (max-width: 429px) {
  .myNav .navbar-nav li a {
    font-size: 2em;
  }
}


@media (max-width: 390px) {
  .myNav .navbar-nav li a {
    font-size: 1.5em;
  }

  .myNav .navbar-nav li a:nth-child(1) {
    margin-left: 9px;
  }
}
